# Ignore everything inside wp-content by default
/*

# But track these essential files and folders
!.gitignore
!/mu-plugins/
!/plugins/
!/themes/

# Exclude default WordPress plugins (not custom code)
/plugins/akismet
/plugins/hello.php

# Exclude default WordPress themes (not custom code)
/themes/twentytwentytwo
/themes/twentytwentythree
/themes/twentytwentyfour
/themes/twentytwentyfive